<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
    <div class="container">
        <div class="message right">Yash: Hey! how r u?</div>
        <div class="message left">Me: im fine</div>
        <div class="message right">Yash: Hey! how r u?</div>
    </div>
    <div class="send">
        <form onsubmit="storeChat(event)" class="send-container">
            <input type="text" name="msg" id="msg">
            <button type="submit" class="btn"><b>Send</b></button>
        </form>
    </div>
    <script src="/js/dashboard.js"></script>
</body>

</html>