<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Add this to your HTML file to include Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>


    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
    <div class="group-container">
        <button id="createNewGroup" class="btn" onclick="openGroupModel()">Create new group</button>
        <div id="myModal" class="modal">
          <div class="modal-content">
            <form onsubmit="createGroup()">
              <span class="close">&times;</span>
              <h2>Enter Group Details</h2>
              <input type="text" id="groupNameInput" class="input-field" placeholder="Enter group name" required>
              <h3>Select Members:</h3>
              <div id="membersList">
              </div>
              <button type="submit" id="createBtn" class="btn">Create Group</button>
            </form>
          </div>
        </div>
        <div id="groupsContainer">
        </div>
      </div>
      <div id="dynamic-content"></div>
      <script src="http://localhost:7000/socket.io/socket.io.js"></script>
    <script src="/js/dashboard.js"></script>
</body>

</html>