<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <form onsubmit="signup(event)" id="signupForm">
        <label for="name">Name :</label>
        <input type="text" name="name" id="name">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email">
        <label for="number">Phone no. :</label>
        <input type="tel" name="number" id="number" pattern="[0-9]{10}" required>
        <label for="password">Password :</label>
        <input type="password" name="password" id="password">
        <button type="submit">Signup</button>
    </form>
    <a href="/login">Existing User? -> Login</a>
    <script src="/js/signup.js"></script>
</body>

</html>